*{
    margin: 0;
    padding: 0;
   
}
.bdy{
    display: grid;
    place-items: center;
    margin-top: 20px;
}
.content{
    width: auto;
    background: #dde1e7;
    border-radius: 15px;
    padding: 10px 10px;
    box-shadow: -3px -3px 7px #ffffff73,
                2px 2px 5px rgba(94,104,121,0.288);

}
.content label{
    
    color: #666666;
}
.field input{
    height: 35px;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #595959;
    background: #dde1e7;
    border-radius: 8px;
    box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #ffffff73;
}
.field select{
    height: 35px;
    
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #595959;
    background: #dde1e7;
    border-radius: 8px;
    box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #ffffff73;
}


.field label{
    margin-bottom: 10px;
    color: #666666;
    
}
h3,h5{
    margin-left: 15px;
    color: #595959;
}
h3{
    text-align: center;
}
.rev a{
    color: #595959;
    padding-top: 20px;
}